<!-- Foter -->
<footer class="page-section bg-gray-lighter footer pb-60" id="contact" style="background-image: url({{'assets/images/footer/footer_textura.png'|theme}});">
    <div class="container">

        <!-- Footer Logo -->
        <div class="local-scroll wow fadeInUp" data-wow-duration="1.2s">
            <a href="#top">
                <img style="max-width: 140px;" src="{{'assets/images/logo/borzoi.svg'|theme}}" alt="" />
            </a>
        </div>
        <!-- End Footer Logo -->

        <!-- Social Links -->
        <div class="footer-social-links mb-50 mt-50  mb-xs-60">

            <a href="#" title="Facebook" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/borzoidesign" title="Instagram" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://vimeo.com/borzoidesign" title="Vimeo" target="_blank">
                <i class="fa fa-vimeo" aria-hidden="true"></i>
            </a>
            
        </div>
        <div class="row mb-60 mb-xs-40">

            <div class="col-md-8 col-md-offset-2">
                <div class="row">

                    <!-- Phone -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item" style="text-align: left;">
                            <div class="ci-icon" style="color: #fff;">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="ci-title font-alt footer-made">
                                {{'Telef'|_}}: 
                            </div>
                            <div class="ci-text" style="color: #fff;">
                                (+351) 222 082 290
                                <br>
                                (+351) 917 329 667
                            </div>
                        </div>
                    </div>
                    <!-- End Phone -->

                    <!-- Address -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item" style="text-align: left;">
                            <div class="ci-icon" style="color: #fff;">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="ci-title font-alt footer-made">
                                {{'Morada'|_}}
                            </div>
                            <div class="ci-text">
                                <a style="color: #fff;" href="https://goo.gl/maps/VVfqjtXNsTtaCKkE6" target="_new">
                                        Rua do Almada nº35 <br>
                                        1º frente - 4050-036 Porto
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End Address -->

                    <!-- Email -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item" style="text-align: left;">
                            <div class="ci-icon" style="color: #fff;">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ci-title font-alt footer-made">
                                Email
                            </div>
                            <div class="ci-text">
                                <a style="color: #fff;" href="mailto:atelier@borzoidesign.com" target="_new">atelier@borzoidesign.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Email -->

                </div>
            </div>

        </div>
        <!-- End Social Links -->

        <!-- Footer Text -->
        <div class="footer-text">
            <div class="footer-made">
                {{'Todos os direitos reservados'|_}} © Copyright | Borzoi Design
            </div>

        </div>
        <!-- End Footer Text -->

    </div>


    <!-- Top Link -->
    <div class="local-scroll">
        <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- End Top Link -->

</footer>
<!-- End Foter -->
