[catalog]
category = {{:slug}}

==
<style>
  .activeLocalebox .mn-sub {
    width: 46px;
    text-align: center;
  }

  .activeLocalebox .mn-sub a {
    text-align: center;
    text-transform: uppercase !important;
  }
    
</style>

<!-- Nav -->
<!-- Navigation panel -->
<nav class="main-nav dark transparent stick-fixed" {% if this.page.BaseFileName != 'home' %}
    style="background-color: #0033cc !important;" {% endif %}>
    <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="
                    {% if this.page.BaseFileName == 'home' %}  
                        #top 
                    {% else %} 
                        {{'home'|page}}
                    {% endif %}
                " class="logo">
                <img src="{{'assets/images/logo/logo-borzoi.png'|theme}}" alt="" />
            </a>
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist scroll-nav local-scroll">
                <li class="active">
                    <a href="
                            {% if this.page.BaseFileName == 'home' %}  
                                #home 
                            {% else %} 
                                {{'home'|page}} 
                            {% endif %}
                        ">
                        {{'Início'|_}}
                    </a>
                </li>
                <li>
                    <a href="
                            {% if this.page.BaseFileName == 'home' %} 
                                #about 
                            {% else %} 
                                {{'home'|page}}#about 
                            {% endif %}
                        ">
                        {{'Sobre'|_}}
                    </a>
                </li>
                
                    <li>
                        <a href="
                                {% if this.page.BaseFileName == 'home' %} 
                                    #bestsellers 
                                {% else %} 
                                    {{'home'|page}}#bestsellers 
                                {% endif %}
                            " class="mn-has-sub">{{'Produtos'|_}} <i class="fa fa-angle-down">

                            </i>
                        </a>
                        
                        <!-- Sub -->
                        <ul class="mn-sub">
                            {% for category in categories %}
                                <li>
                                    <a href="{{'listagem_produtos_category'|page({slug: category.slug})}}" class="mn-has-sub">
                                        {{category.name|_}} 
                                    </a>
                                </li>
                                {% for subcategory in category.subcategories %}
                                    <li style="padding-left: 15px;">
                                        
                                        <a href="{{'listagem_produtos_category'|page({slug: subcategory.slug})}}">
                                            <i style="padding-right: 5px;" class="fa fa-angle-right"></i>
                                            {{subcategory.name|_}}
                                        </a>
                                    </li>
                                {% endfor %}
                                
                            {% endfor %}
                        </ul>
                        <!-- End Sub -->
                        
                    </li>
                
                <li>
                    <a href="
                            {% if this.page.BaseFileName == 'home' %} 
                                #news 
                            {% else %} 
                                {{'home'|page}}#news 
                            {% endif %}
                        ">
                        {{'NOTÍCIAS'|_}}
                    </a>
                </li>
                <li>
                    <a href="
                            {% if this.page.BaseFileName == 'home' %} 
                                #contact 
                            {% else %} 
                                {{'home'|page}}#contact 
                            {% endif %}
                        ">
                        {{'Contactos'|_}}
                    </a>
                </li>

                <li class="activeLocalebox">
                    <a href="#" class="mn-has-sub">
                        {{activeLocale}} 
                        <i class="fa fa-angle-down"></i>
                    </a>
                    
                    <!-- Sub -->
                    <ul class="mn-sub">
                        {% for code, name in locales %}
                            <li> 
                                <a href="#" data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'">
                                    {{ code }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- End Sub -->
                </li>
            </ul>
        </div>
    </div>
</nav>
