<style>
    .main-nav .dropdown_lingua {
        height: 75px !important;
        background-color: transparent !important;
        border: 0;
        background-image: none !important;
        border-radius: 0;
        box-shadow: none;
        color: rgba(255, 255, 255, .7) !important;
        font-size: 11px;
        outline: none !important;
        letter-spacing: 2px;
        -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        text-shadow: none;
        text-transform: uppercase;
    }

    .main-nav.small-height .dropdown_lingua {
        height: 55px !important;
    }

    .dropdown-menu_lingua {
        left: auto;
        right: 0;
        border-radius: 0;
        width: auto;
        min-width: auto;
        padding: 0;
        background-color: transparent;
    }

    .dropdown-menu_lingua li {
        margin: 0 0 3px 0 !important;
        width: 100%;
        background-color: #b2b2b2;
    }

    .dropdown-menu_lingua li:last-child {
        margin: 0 0 0 0 !important;
    }

    .dropdown-menu_lingua li:hover {
        background-color: #0033cc !important;
    }

    .main-nav.dark .dropdown-menu_lingua li a {
        background-color: transparent !important;
        background-image: none !important;
        margin: 0 3px;
        height: 28px !important;
        line-height: 24px !important;
    }
    
</style>

<!-- Nav -->
<!-- Navigation panel -->
<nav class="main-nav dark transparent stick-fixed" {% if this.page.BaseFileName != 'home' %}
    style="background-color: #0033cc !important;" {% endif %}>
    <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="
                    {% if this.page.BaseFileName == 'home' %}  
                        #top 
                    {% else %} 
                        {{'home'|page}}
                    {% endif %}
                " class="logo">
                <img src="{{'assets/images/logo/logo-borzoi.png'|theme}}" alt="" />
            </a>
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist scroll-nav local-scroll">
                <li class="active">
                    <a href="
                            {% if this.page.BaseFileName == 'home' %}  
                                #home 
                            {% else %} 
                                {{'home'|page}} 
                            {% endif %}
                        ">
                        {{'Início'|_}}
                    </a>
                </li>
                <li>
                    <a href="
                            {% if this.page.BaseFileName == 'home' %} 
                                #about 
                            {% else %} 
                                {{'home'|page}}#about 
                            {% endif %}
                        ">
                        {{'Sobre'|_}}
                    </a>
                </li>
                <li>
                    <a href="
                            {% if this.page.BaseFileName == 'home' %} 
                                #bestsellers 
                            {% else %} 
                                {{'home'|page}}#bestsellers 
                            {% endif %}
                        ">
                        {{'Produtos'|_}}
                    </a>
                </li>
                <li>
                    <a href="
                            {% if this.page.BaseFileName == 'home' %} 
                                #news 
                            {% else %} 
                                {{'home'|page}}#news 
                            {% endif %}
                        ">
                        {{'NOTÍCIAS'|_}}
                    </a>
                </li>
                <li>
                    <a href="
                            {% if this.page.BaseFileName == 'home' %} 
                                #contact 
                            {% else %} 
                                {{'home'|page}}#contact 
                            {% endif %}
                        ">
                        {{'Contactos'|_}}
                    </a>
                </li>

                <li>
                    <button class="btn btn-default dropdown-toggle dropdown_lingua" type="button"
                        id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{activeLocale}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu_lingua" aria-labelledby="dropdownMenu1">
                        {% for code, name in locales %}
                            <li>
                                <a href="#" data-request="onSwitchLocale" data-request-data="locale: '{{ code }}'">
                                    {{ code }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
