<!-- About Section -->
<section class="page-section" id="about" style="padding-bottom: 0;">
    <div class="container relative">

        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            {{'Sobre'|_}} Borzoi
            {% if this.page.baseFileName == 'home' %}
            <a href="{{'about'|page}}" class="section-more right">
                {{'Ler Mais'|_}}
                <i class="fa fa-angle-right"></i>
            </a>
            {% endif %}
        </h2>

        <div class="section-text mb-50 mb-sm-20">
            <div class="row">

                <div class="col-md-4">
                    <blockquote>
                        <span>
                            <img src="{{'assets/images/sobre/picprofile2.png'|theme}}" alt="">
                        </span>
                    </blockquote>
                </div>

                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    {% if activeLocale == 'pt' %}
                        O fascínio diário pela conjugação da prata com a mistura de outras matérias primas de qualidade "premium", traduzem-se num conceito criativo muito particular. Desta simbiose resultam objectos clássicos e intemporais.
                    {% else %}
                        The exquisite combination of silver with other great quality premium materials creates a fascinating duality
                            that turns into classical and timeless art objects.
                    {% endif %}
                </div>

                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    {% if activeLocale == 'pt' %}
                        Sempre e, com um forte propósito de idealizar peças de design contemporâneas, únicas e distintas, surgem "Os Meus Bichos", como lhes chamo. Isto, foi o motor de arranque que fez irromper a marca: BORZOI DESIGN.
                    {% else %}
                        With this in mind, and the enormous desire to create objects of singular and contemporary  design, I gave life to "My Beasts",  as I tenderly call them, and this was the beginning of the trade mark BORZOI DESIGN.
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
