<!-- Home Section -->
<section class="home-section bg-dark-alfa-50 parallax-2" data-background="{{'assets/images/slideshow_01.png'|theme}}"
    id="home">
    <div class="js-height-full container">

        <!-- Hero Content -->
        <div class="home-content">
            <div class="home-text">

                <div>
                    <a href="https://vimeo.com/362424153" class="big-icon-link lightbox-gallery-1 mfp-iframe"><span
                            class="big-icon"><i class="fa fa-play"></i></span></a>
                </div>

                <h1 class="hs-line-14 font-alt mb-50 mb-xs-20" style="text-transform: uppercase!important; letter-spacing: 0.7em!important;">
                    Borzoi Design
                </h1>

                <h2 class="hs-line-8 no-transp font-alt" style="text-transform: uppercase!important; letter-spacing: 0.3em!important;">
                    {{'Design Contemporanêo / Peças únicas e distintas'|_}}
                </h2>

            </div>
        </div>
        <!-- End Hero Content -->

        <!-- Scroll Down -->
        <div class="local-scroll">
            <a href="#about" class="scroll-down"><i class="fa fa-angle-down scroll-down-icon"></i></a>
        </div>
        <!-- End Scroll Down -->

    </div>
</section>
<!-- End Home Section -->
