<!-- Blog Section -->
<section class="page-section" id="news">
    <div class="container relative">

        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            Notícias
        </h2>

        <div class="row multi-columns-row">
            {% for post in posts %}
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">
                       
                    <div class="post-prev-img">
                        {% set image = post.featured_images|first %}
                        <a href="{{'blog_page'|page({slug: post.slug})}}">
                            <img src="{{image.getPath()}}" alt="" />
                        </a>
                    </div>

                    <div class="post-prev-title font-alt">
                        <a href="">{{post.title}}</a>
                    </div>

                    <div class="post-prev-info font-alt">
                        {{post.published_at|date('d M')}}
                    </div>

                    <div class="post-prev-text">
                        {{post.excerpt}}
                    </div>

                    <div class="post-prev-more">
                        <a href="{{'blog_page'|page({slug: post.slug})}}" class="btn btn-mod btn-gray btn-round">
                            Ler Mais 
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <!-- End Post Item -->
            {% endfor %}
        </div>
    </div>
</section>
