<!-- Newsletter Section -->
<section class="small-section bg-gray-lighter" style="background-color: #f8f8f8;">
    <div class="container relative">
        <form class="form align-center" id="mailchimp">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="newsletter-label font-alt">
                        {{'Mantenha-se informado sobre a Borzoi'|_}}
                    </div>

                    <div class="mb-20">
                        <input placeholder="Email"
                            class="newsletter-field form-control input-md round mb-xs-10" type="email"
                            pattern=".{5,100}" required />

                        <button type="submit" class="btn btn-mod btn-medium btn-round mb-xs-10">
                            Enviar
                        </button>
                    </div>

                    <div class="form-tip">
                        <i class="fa fa-info-circle"></i> 
                        {{'Pode confiar em nós, nunca enviamos spam'|_}}
                    </div>

                    <div id="subscribe-result"></div>

                </div>
            </div>
        </form>

    </div>
</section>
<!-- End Newsletter Section ->
