
<section class="page-section bg-dark bg-dark-alfa-90 fullwidth-slider" data-background="{{slideshow.logo.getPath()}}" style="padding: 60px 0 130px 0;">
    {% for slide in slideshow.slides %}        
        <!-- Slide Item -->
        <div>
            <div class="container relative">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 align-center">
                        <!-- Section Icon -->
                        <div class="section-icon">
                            <span class="icon-quote"></span>
                        </div>
                        <!-- Section Title --><h3 class="small-title font-alt">{{slide.titulo}}</h3>
                        <blockquote class="testimonial white">
                            <p>
                                {{slide.subtitulo}}
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slide Item -->
    {% endfor %}
</section>
