<!-- Shop Section -->
<section class="page-section" id="bestsellers">
    <div class="container relative">

        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            Produtos em Destaque
            <a href="{{'listagem_produtos'|page}}" class="section-more right">
                Ver Mais Produtos
                <i class="fa fa-angle-right"></i>
            </a>
        </h2>

        <div class="row multi-columns-row">
            <!-- Shop Item -->
            {% for product in catalog.getProducts %}
                {% if product.featured %}
                    {% partial 'site/item_card' product = product %}
                {% endif %}
            {% endfor %}
            <!-- End Shop Item -->
        </div>
    </div>
</section>
<!-- End Shop Section -->
